<footer class="footer page-footer font-small" id="scotchy-footer">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">A propos de ce site</h5>
        <p>Une site qui parle de Madagascar, plus precisement ces sites touristiques</p>
        <p>Madagascar est une veritable paradis</p>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Contactez-nous</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <mdb-icon icon="home" class="mr-3"></mdb-icon> Antananarivo, Ivato, MG
            </p>
          </li>
          <li>
            <p>
              <mdb-icon icon="envelope" class="mr-3"></mdb-icon> odonfidaulis@gmail.com
            </p>
          </li>
          <li>
            <p>
              <mdb-icon icon="phone" class="mr-3"></mdb-icon> + 261 33 03 985 71
            </p>
          </li>
          <li>
            <p>
              <mdb-icon icon="print" class="mr-3"></mdb-icon> + 261 34 08 478 33
            </p>
          </li>
        </ul>

      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Autre contacte</h5>
        <a mdbBtn floating="true" href="https://www.facebook.com" type="button" class="btn-fb" mdbWavesEffect>
          <mdb-icon icon="facebook"></mdb-icon>
        </a>
        <!-- <a type="button" mdbBtn floating="true" class="btn-tw" mdbWavesEffect>
          <mdb-icon icon="twitter"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" class="btn-gplus" mdbWavesEffect>
          <mdb-icon icon="google-plus"></mdb-icon>
        </a>
        <a type="button" mdbBtn floating="true" class="btn-dribbble" mdbWavesEffect>
          <mdb-icon icon="dribbble"></mdb-icon>
        </a> -->

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://devtech.mg/Accueil"> Devtech</a>
  </div>
</footer>
