  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/carousel/rova.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2>Rova Manjakamiadana</h2>
        <h3 class="h3-responsive">Le palais de la reigne et ses entourages</h3>
        <p>Ny arivo lahy tsy maty indray andro</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/carousel/Ambohimanga.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2>Ambohimanga Rova</h2>
        <h3 class="h3-responsive">Ambohimanga est une colline et une place forte royale traditionnelle de Madagascar</h3>
        <p>Le Royaume du Merina</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/carousel/baobab.jpeg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2>Les Baobas</h2>
        <h3 class="h3-responsive">L'emblmatique des arbres Malgaches</h3>
        <p>Le Royaume du Merina</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../../assets/carousel/tsingy.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2>Tsingy de bemaraha</h2>
        <h3 class="h3-responsive">Une réserve naturelle incroyable.</h3>
        <p>Patrimoine Mondial</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <div></div>
  <br><br>
<app-abouts></app-abouts>
