


  <h2 class="h1 font-weight-bold text-center h1 py-5">Madagascar</h2>
  <div class="row">
    <div class="col-lg-12 col-md-12 mb-3">
      <mdb-card cascade="true" wider="true" class="card-ecommerce">
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../../assets/images/madagasikara.png" alt="sample photo"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center no-padding">
          <a href="" class="text-muted">
            <h5>A propos de Madagascar</h5>
          </a>
          <mdb-card-title class="liste">
            <button mdbDropdownToggle type="button" mdbBtn color="primary" outline="true" class="dropdown-toggle waves-light" (click)="test.toggle()" mdbWavesEffect>
              Histoire
            </button>



            <div class="" mdbCollapse #test="bs-collapse">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>

            <button mdbDropdownToggle type="button" mdbBtn color="primary" outline="true" class="dropdown-toggle waves-light" (click)="testa.toggle()" mdbWavesEffect>
              Geographie de Madagascar
            </button>

            <div class="" mdbCollapse #testa="bs-collapse">
              <p>L'île de Madagascar, située dans l'océan Indien à 400 km à l'est des côtes africaines, est le territoire qu'occupe la république de Madagascar. Le canal du Mozambique la sépare du continent</p>
            <p><b>Longueur maximale : </b>1 600 km</p>
            <p><b>Largeur maximale :</b> 400 km</p>
            <p><b>Coordonnées : </b>28,00°S 10,00°' E</p>
            <p><b>Plus long cours d’eau</b> : Onilahy (870 km)</p>
            <p>Continent : Afrique</p>
            <p>Plus importante étendue d’eau : Lac Alaotra (220 km2)</p>
            </div>
            <button mdbDropdownToggle type="button" mdbBtn color="primary" outline="true" class="dropdown-toggle waves-light" (click)="testz.toggle()" mdbWavesEffect>
              Toggle collapse
            </button>

            <div class="" mdbCollapse #testz="bs-collapse">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
          </mdb-card-title>
          <br>
          <mdb-card-text>
              <div class="row">
                <div class="col-md-2">
                    <i class="fa fa-bed" aria-hidden="true"></i>
                </div>
                <div class="col-md-10">
                    Hôtel 3 étoiles (prix moyen : 177 021 Ar) ou 5 étoiles (prix moyen : 239 119 Ar)
                    Devises : Ariary, Iraimbilanja
                </div>
              </div>
          </mdb-card-text>
          <mdb-card-footer>
            <span class="float-left font-weight-bold">
              <strong>1439$</strong>
            </span>
            <span class="float-right">
              <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                <i class="fa fa-eye grey-text ml-3"></i>
              </a>
              <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                <i class="fa fa-heart grey-text ml-3"></i>
              </a>
            </span>
          </mdb-card-footer>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
